{
  "extends": "airbnb",
  "rules": {
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/require-extension": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "no-console": [1, { allow: ["warn", "error", "info"] }],
  },
}
